AddDefaultCharset "utf-8"


##
## INTERDIRE L'ACCES AU FICHIER .HTACCESS
##
<Files .htaccess>
    order allow,deny
    deny from allow
</Files>

##
## Mettre le serveur sur le fuseau horaire de Paris
##

SetEnv TZ Europe/Paris

##
## EMPÊCHER DE FOUILLER A LA RACINE
##

Options All -Indexes

##
## METTRE PAR DEFAUT L'AFFICHAGE
##

<FilesMatch "\.(htm|html|css|js|php)$">
    AddDefaultCharset UTF-8
    DefaultLanguage fr-fr
</FilesMatch>

##
## POUR REECRIRE LES NOMS DES PAGES
##

Options +FollowSymlinks -MultiViews

RewriteEngine on 
RewriteBase /

# NE PAS OUBLIER D'ENLEVER LES # POUR FORCER LE WWW (Pb en localhost)
# Redirect non-www to www:
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Redirect http to https:
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

# Unless directory, remove trailing slash
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !=d
RewriteRule ^([^/]+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

# Redirect external .php requests to extensionless url
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ http://%{HTTP_HOST}/$1 [R=301,L]

# add extension if the php file exists:
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php [L]

RewriteRule ^profil/([a-zA-Z0-9]+)$ profil?id=$1
RewriteRule ^voir-profil/([0-9]+)$ voir_profil?id=$1


### ERREURS
### Si une erreur apparait alors on affiche la page correspondante
ErrorDocument 401 /erreur/er_400?erreur=401
ErrorDocument 402 /erreur/er_400?erreur=402
ErrorDocument 403 /erreur/er_400?erreur=403
ErrorDocument 404 /erreur/er_400?erreur=404